# Image processing
scikit-image
opencv-python

# Core numerical and data libraries
numpy
scipy
pandas

#datatypes
pydantic
pydantic_numpy

# Plotting
matplotlib

# GUI framework
PySide6

# Packaging and testing
setuptools
wheel
pytest
pytest-cov
pytest-qt
flake8

# Documentation
sphinx

# Units
pint
pydantic-pint
